{% extends "common/base.html" %}
# load staticfiles는 static파일이 사용되는 각 템플릿 파일마다 load해 줘야함
{% load staticfiles %}
{% load tagging_tags %}

{% block title %} tag cloud! {% endblock %}

# load staticfiles 는 베이스에 해두면 되지 않나?
{% block extrastyle %}{% static 'style/common/tag.css' %}{% endblock %}

{% block content %}
<h1>Bookmark Tag Cloud</h1>

<!--# tagging패키지의 tag_cloud_for_model커스텀 태그를 사용해 태그 클라우드 표현방식 정의-->
{% tag_cloud_for_model bookmark.Bookmark as tags with steps=6 min_count=1 distribution=log %}
  {% for tag in tags %}
  <p class="tag-{{tag.font_size}}">
    <a href="{% url 'bookmark:tag_object_list' tag.name %}">{{tag.name}}</a>
  </p>
  {% endfor %}
{% endblock %}
